/* Animación de giro de 360 grados y desenfoque para los títulos */
@keyframes rotateBlur {
  0% {
    transform: rotate(0deg);
    filter: blur(0px);
  }
  50% {
    transform: rotate(180deg);
    filter: blur(5px);
  }
  100% {
    transform: rotate(360deg);
    filter: blur(0px);
  }
}

h2, .title {
  color: #00ffff;
  font-size: 36px;
  text-align: center;
  animation: rotateBlur 5s infinite; /* Animación de giro y blur */
}

.title {
  font-size: 48px;
}

.blur-active h2, .blur-active .title {
  filter: blur(5px); /* Aplica blur cuando se activa el desenfoque en hover */
}

/* Video Styles */
iframe {
  border: none;
  width: 480px; /* Ajuste de tamaño más grande */
  height: 270px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

iframe:hover {
  transform: scale(1.1); /* Agranda ligeramente el video */
}

/* Al pasar el mouse, activar blur en otros elementos */
.blur-active iframe:not(:hover) {
  filter: blur(5px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
  margin: 20px;
}
