* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0d0d0d;
    color: #ffffff;
    scroll-behavior: smooth;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

section {
    padding: 100px 0;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

section.active {
    opacity: 1;
    filter: none;
}

.title {
    font-size: 3em;
    text-align: center;
    animation: scrollEffect 5s infinite ease-in-out;
}

@keyframes scrollEffect {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid-container iframe {
    width: 100%;
    height: 200px;
}

.soundcloud-container {
    margin-bottom: 20px;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ff6600;
}

/* Efecto de desenfoque */
section {
    filter: blur(5px);
}

section.active {
    filter: blur(0);
    transition: filter 1s ease-out;
}
